body{
  background-image: url("https://s3.amazonaws.com/gdli-prod/resources/companias/4dd1b617f582f510ba733867/productos/4e0a0569a771a290993bcd6b/petroleo.jpg");
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
  width: 100%;
  }